=begin
#TextMagic API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 2

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.8

=end

require 'uri'

module TextMagic
  class TextMagicApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Assign contacts to a list
    # > Unlike all other PUT requests, this command does not need old contact IDs to be submitted. For example, if you have a list with contacts 150, 151 and 152 and you want to add contact ID 153, you only need to submit 153 as a parameter of PUT /api/v2/lists/{id}/contacts. 
    # @param assign_contacts_to_list_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [ResourceLinkResponse]
    def assign_contacts_to_list(assign_contacts_to_list_input_object, id, opts = {})
      data, _status_code, _headers = assign_contacts_to_list_with_http_info(assign_contacts_to_list_input_object, id, opts)
      data
    end

    # Assign contacts to a list
    # &gt; Unlike all other PUT requests, this command does not need old contact IDs to be submitted. For example, if you have a list with contacts 150, 151 and 152 and you want to add contact ID 153, you only need to submit 153 as a parameter of PUT /api/v2/lists/{id}/contacts. 
    # @param assign_contacts_to_list_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def assign_contacts_to_list_with_http_info(assign_contacts_to_list_input_object, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.assign_contacts_to_list ...'
      end
      # verify the required parameter 'assign_contacts_to_list_input_object' is set
      if @api_client.config.client_side_validation && assign_contacts_to_list_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'assign_contacts_to_list_input_object' when calling TextMagicApi.assign_contacts_to_list"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.assign_contacts_to_list"
      end
      # resource path
      local_var_path = '/api/v2/lists/{id}/contacts'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(assign_contacts_to_list_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#assign_contacts_to_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Block contact by phone number
    # Block contact from inbound and outbound communication by phone number.
    # @param block_contact_input_object 
    # @param [Hash] opts the optional parameters
    # @return [ResourceLinkResponse]
    def block_contact(block_contact_input_object, opts = {})
      data, _status_code, _headers = block_contact_with_http_info(block_contact_input_object, opts)
      data
    end

    # Block contact by phone number
    # Block contact from inbound and outbound communication by phone number.
    # @param block_contact_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def block_contact_with_http_info(block_contact_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.block_contact ...'
      end
      # verify the required parameter 'block_contact_input_object' is set
      if @api_client.config.client_side_validation && block_contact_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'block_contact_input_object' when calling TextMagicApi.block_contact"
      end
      # resource path
      local_var_path = '/api/v2/contacts/block'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(block_contact_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#block_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Buy a dedicated number
    # To buy a dedicated number, you first need to find an available number matching your criteria using the `/api/v2/numbers/available` command described above.
    # @param buy_dedicated_number_input_object 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def buy_dedicated_number(buy_dedicated_number_input_object, opts = {})
      buy_dedicated_number_with_http_info(buy_dedicated_number_input_object, opts)
      nil
    end

    # Buy a dedicated number
    # To buy a dedicated number, you first need to find an available number matching your criteria using the &#x60;/api/v2/numbers/available&#x60; command described above.
    # @param buy_dedicated_number_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def buy_dedicated_number_with_http_info(buy_dedicated_number_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.buy_dedicated_number ...'
      end
      # verify the required parameter 'buy_dedicated_number_input_object' is set
      if @api_client.config.client_side_validation && buy_dedicated_number_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'buy_dedicated_number_input_object' when calling TextMagicApi.buy_dedicated_number"
      end
      # resource path
      local_var_path = '/api/v2/numbers'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(buy_dedicated_number_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#buy_dedicated_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Cancel verification process
    # You can cancel the verification not earlier than 30 seconds after the initial request.
    # @param verify_id the verifyId that you received in Step 1.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def cancel_verification(verify_id, opts = {})
      cancel_verification_with_http_info(verify_id, opts)
      nil
    end

    # Cancel verification process
    # You can cancel the verification not earlier than 30 seconds after the initial request.
    # @param verify_id the verifyId that you received in Step 1.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def cancel_verification_with_http_info(verify_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.cancel_verification ...'
      end
      # verify the required parameter 'verify_id' is set
      if @api_client.config.client_side_validation && verify_id.nil?
        fail ArgumentError, "Missing the required parameter 'verify_id' when calling TextMagicApi.cancel_verification"
      end
      # resource path
      local_var_path = '/api/v2/verify/{verifyId}'.sub('{' + 'verifyId' + '}', verify_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#cancel_verification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Step 2: Check the verification code 
    # Check received code from user with the code which was actually sent.
    # @param check_phone_verification_code_input_object 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def check_phone_verification_code_tfa(check_phone_verification_code_input_object, opts = {})
      check_phone_verification_code_tfa_with_http_info(check_phone_verification_code_input_object, opts)
      nil
    end

    # Step 2: Check the verification code 
    # Check received code from user with the code which was actually sent.
    # @param check_phone_verification_code_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def check_phone_verification_code_tfa_with_http_info(check_phone_verification_code_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.check_phone_verification_code_tfa ...'
      end
      # verify the required parameter 'check_phone_verification_code_input_object' is set
      if @api_client.config.client_side_validation && check_phone_verification_code_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'check_phone_verification_code_input_object' when calling TextMagicApi.check_phone_verification_code_tfa"
      end
      # resource path
      local_var_path = '/api/v2/verify'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(check_phone_verification_code_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#check_phone_verification_code_tfa\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Reset list members to the specified contacts
    # 
    # @param clear_and_assign_contacts_to_list_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [ResourceLinkResponse]
    def clear_and_assign_contacts_to_list(clear_and_assign_contacts_to_list_input_object, id, opts = {})
      data, _status_code, _headers = clear_and_assign_contacts_to_list_with_http_info(clear_and_assign_contacts_to_list_input_object, id, opts)
      data
    end

    # Reset list members to the specified contacts
    # 
    # @param clear_and_assign_contacts_to_list_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def clear_and_assign_contacts_to_list_with_http_info(clear_and_assign_contacts_to_list_input_object, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.clear_and_assign_contacts_to_list ...'
      end
      # verify the required parameter 'clear_and_assign_contacts_to_list_input_object' is set
      if @api_client.config.client_side_validation && clear_and_assign_contacts_to_list_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'clear_and_assign_contacts_to_list_input_object' when calling TextMagicApi.clear_and_assign_contacts_to_list"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.clear_and_assign_contacts_to_list"
      end
      # resource path
      local_var_path = '/api/v2/lists/{id}/contacts'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(clear_and_assign_contacts_to_list_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#clear_and_assign_contacts_to_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Close chats (bulk)
    # Close chats by chat ids or close all chats
    # @param close_chats_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def close_chats_bulk(close_chats_bulk_input_object, opts = {})
      close_chats_bulk_with_http_info(close_chats_bulk_input_object, opts)
      nil
    end

    # Close chats (bulk)
    # Close chats by chat ids or close all chats
    # @param close_chats_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def close_chats_bulk_with_http_info(close_chats_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.close_chats_bulk ...'
      end
      # verify the required parameter 'close_chats_bulk_input_object' is set
      if @api_client.config.client_side_validation && close_chats_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'close_chats_bulk_input_object' when calling TextMagicApi.close_chats_bulk"
      end
      # resource path
      local_var_path = '/api/v2/chats/close/bulk'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(close_chats_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#close_chats_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Close read chats
    # Close all chats that have no unread messages.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def close_read_chats(opts = {})
      close_read_chats_with_http_info(opts)
      nil
    end

    # Close read chats
    # Close all chats that have no unread messages.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def close_read_chats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.close_read_chats ...'
      end
      # resource path
      local_var_path = '/api/v2/chats/close/read'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#close_read_chats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Close sub-account
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def close_subaccount(id, opts = {})
      close_subaccount_with_http_info(id, opts)
      nil
    end

    # Close sub-account
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def close_subaccount_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.close_subaccount ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.close_subaccount"
      end
      # resource path
      local_var_path = '/api/v2/subaccounts/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#close_subaccount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add a new contact
    # 
    # @param create_contact_input_object 
    # @param [Hash] opts the optional parameters
    # @return [ResourceLinkResponse]
    def create_contact(create_contact_input_object, opts = {})
      data, _status_code, _headers = create_contact_with_http_info(create_contact_input_object, opts)
      data
    end

    # Add a new contact
    # 
    # @param create_contact_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def create_contact_with_http_info(create_contact_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.create_contact ...'
      end
      # verify the required parameter 'create_contact_input_object' is set
      if @api_client.config.client_side_validation && create_contact_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_contact_input_object' when calling TextMagicApi.create_contact"
      end
      # resource path
      local_var_path = '/api/v2/contacts/normalized'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(create_contact_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#create_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new contact note
    # 
    # @param create_contact_note_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [ResourceLinkResponse]
    def create_contact_note(create_contact_note_input_object, id, opts = {})
      data, _status_code, _headers = create_contact_note_with_http_info(create_contact_note_input_object, id, opts)
      data
    end

    # Create a new contact note
    # 
    # @param create_contact_note_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def create_contact_note_with_http_info(create_contact_note_input_object, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.create_contact_note ...'
      end
      # verify the required parameter 'create_contact_note_input_object' is set
      if @api_client.config.client_side_validation && create_contact_note_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_contact_note_input_object' when calling TextMagicApi.create_contact_note"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.create_contact_note"
      end
      # resource path
      local_var_path = '/api/v2/contacts/{id}/notes'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(create_contact_note_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#create_contact_note\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add a new custom field
    # 
    # @param create_custom_field_input_object 
    # @param [Hash] opts the optional parameters
    # @return [ResourceLinkResponse]
    def create_custom_field(create_custom_field_input_object, opts = {})
      data, _status_code, _headers = create_custom_field_with_http_info(create_custom_field_input_object, opts)
      data
    end

    # Add a new custom field
    # 
    # @param create_custom_field_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def create_custom_field_with_http_info(create_custom_field_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.create_custom_field ...'
      end
      # verify the required parameter 'create_custom_field_input_object' is set
      if @api_client.config.client_side_validation && create_custom_field_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_custom_field_input_object' when calling TextMagicApi.create_custom_field"
      end
      # resource path
      local_var_path = '/api/v2/customfields'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(create_custom_field_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#create_custom_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new list
    # 
    # @param create_list_input_object 
    # @param [Hash] opts the optional parameters
    # @return [ResourceLinkResponse]
    def create_list(create_list_input_object, opts = {})
      data, _status_code, _headers = create_list_with_http_info(create_list_input_object, opts)
      data
    end

    # Create a new list
    # 
    # @param create_list_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def create_list_with_http_info(create_list_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.create_list ...'
      end
      # verify the required parameter 'create_list_input_object' is set
      if @api_client.config.client_side_validation && create_list_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_list_input_object' when calling TextMagicApi.create_list"
      end
      # resource path
      local_var_path = '/api/v2/lists'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(create_list_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#create_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a template
    # There are times when creating a new template makes sense (such as when targeting specific clients or improving your business strategies).  You can create new SMS templates for marketing purposes or SMS templates for business campaigns. 
    # @param create_template_input_object 
    # @param [Hash] opts the optional parameters
    # @return [ResourceLinkResponse]
    def create_template(create_template_input_object, opts = {})
      data, _status_code, _headers = create_template_with_http_info(create_template_input_object, opts)
      data
    end

    # Create a template
    # There are times when creating a new template makes sense (such as when targeting specific clients or improving your business strategies).  You can create new SMS templates for marketing purposes or SMS templates for business campaigns. 
    # @param create_template_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceLinkResponse, Fixnum, Hash)>] ResourceLinkResponse data, response status code and response headers
    def create_template_with_http_info(create_template_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.create_template ...'
      end
      # verify the required parameter 'create_template_input_object' is set
      if @api_client.config.client_side_validation && create_template_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'create_template_input_object' when calling TextMagicApi.create_template"
      end
      # resource path
      local_var_path = '/api/v2/templates'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(create_template_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResourceLinkResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#create_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete contacts (bulk)
    # 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_all_contacts(opts = {})
      delete_all_contacts_with_http_info(opts)
      nil
    end

    # Delete contacts (bulk)
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_all_contacts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_all_contacts ...'
      end
      # resource path
      local_var_path = '/api/v2/contact/all'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_all_contacts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete all messages
    # Delete all messages.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_all_outbound_messages(opts = {})
      delete_all_outbound_messages_with_http_info(opts)
      nil
    end

    # Delete all messages
    # Delete all messages.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_all_outbound_messages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_all_outbound_messages ...'
      end
      # resource path
      local_var_path = '/api/v2/message/all'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_all_outbound_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an avatar
    # 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_avatar(opts = {})
      delete_avatar_with_http_info(opts)
      nil
    end

    # Delete an avatar
    # 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_avatar_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_avatar ...'
      end
      # resource path
      local_var_path = '/api/v2/user/avatar'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_avatar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete chat messages by ID(s)
    # Delete messages from chat by given messages ID(s).
    # @param delete_chat_messages_bulk_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_chat_messages(delete_chat_messages_bulk_input_object, id, opts = {})
      delete_chat_messages_with_http_info(delete_chat_messages_bulk_input_object, id, opts)
      nil
    end

    # Delete chat messages by ID(s)
    # Delete messages from chat by given messages ID(s).
    # @param delete_chat_messages_bulk_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_chat_messages_with_http_info(delete_chat_messages_bulk_input_object, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_chat_messages ...'
      end
      # verify the required parameter 'delete_chat_messages_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_chat_messages_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_chat_messages_bulk_input_object' when calling TextMagicApi.delete_chat_messages"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_chat_messages"
      end
      # resource path
      local_var_path = '/api/v2/chats/{id}/messages/delete'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_chat_messages_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_chat_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete chats (bulk)
    # Delete chats by given ID(s) or delete all chats.
    # @param delete_chats_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_chats_bulk(delete_chats_bulk_input_object, opts = {})
      delete_chats_bulk_with_http_info(delete_chats_bulk_input_object, opts)
      nil
    end

    # Delete chats (bulk)
    # Delete chats by given ID(s) or delete all chats.
    # @param delete_chats_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_chats_bulk_with_http_info(delete_chats_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_chats_bulk ...'
      end
      # verify the required parameter 'delete_chats_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_chats_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_chats_bulk_input_object' when calling TextMagicApi.delete_chats_bulk"
      end
      # resource path
      local_var_path = '/api/v2/chats/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_chats_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_chats_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a contact
    # > This command removes your contact completely. If it was assigned or saved to a shared list, it will disappear from there too. If you only need to remove a contact from selected lists, instead use the Contact assignment command in the Lists section rather than deleting the contact. 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contact(id, opts = {})
      delete_contact_with_http_info(id, opts)
      nil
    end

    # Delete a contact
    # &gt; This command removes your contact completely. If it was assigned or saved to a shared list, it will disappear from there too. If you only need to remove a contact from selected lists, instead use the Contact assignment command in the Lists section rather than deleting the contact. 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_contact_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_contact ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_contact"
      end
      # resource path
      local_var_path = '/api/v2/contacts/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an avatar
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contact_avatar(id, opts = {})
      delete_contact_avatar_with_http_info(id, opts)
      nil
    end

    # Delete an avatar
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_contact_avatar_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_contact_avatar ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_contact_avatar"
      end
      # resource path
      local_var_path = '/api/v2/contacts/{id}/avatar'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_contact_avatar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a contact note
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contact_note(id, opts = {})
      delete_contact_note_with_http_info(id, opts)
      nil
    end

    # Delete a contact note
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_contact_note_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_contact_note ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_contact_note"
      end
      # resource path
      local_var_path = '/api/v2/notes/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_contact_note\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete contact notes (bulk)
    # 
    # @param id 
    # @param delete_contact_notes_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contact_notes_bulk(id, delete_contact_notes_bulk_input_object, opts = {})
      delete_contact_notes_bulk_with_http_info(id, delete_contact_notes_bulk_input_object, opts)
      nil
    end

    # Delete contact notes (bulk)
    # 
    # @param id 
    # @param delete_contact_notes_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_contact_notes_bulk_with_http_info(id, delete_contact_notes_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_contact_notes_bulk ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_contact_notes_bulk"
      end
      # verify the required parameter 'delete_contact_notes_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_contact_notes_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_contact_notes_bulk_input_object' when calling TextMagicApi.delete_contact_notes_bulk"
      end
      # resource path
      local_var_path = '/api/v2/contacts/{id}/notes/delete'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_contact_notes_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_contact_notes_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete contacts by IDs (bulk)
    # 
    # @param delete_contacts_by_ids_input_object 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contacts_by_ids(delete_contacts_by_ids_input_object, opts = {})
      delete_contacts_by_ids_with_http_info(delete_contacts_by_ids_input_object, opts)
      nil
    end

    # Delete contacts by IDs (bulk)
    # 
    # @param delete_contacts_by_ids_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_contacts_by_ids_with_http_info(delete_contacts_by_ids_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_contacts_by_ids ...'
      end
      # verify the required parameter 'delete_contacts_by_ids_input_object' is set
      if @api_client.config.client_side_validation && delete_contacts_by_ids_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_contacts_by_ids_input_object' when calling TextMagicApi.delete_contacts_by_ids"
      end
      # resource path
      local_var_path = '/api/v2/contacts/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_contacts_by_ids_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_contacts_by_ids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Unassign contacts from a list
    # > When you remove contacts from a specific list, they will be deleted permanently, unless they are first saved in another list. 
    # @param delete_contacs_from_list_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contacts_from_list(delete_contacs_from_list_object, id, opts = {})
      delete_contacts_from_list_with_http_info(delete_contacs_from_list_object, id, opts)
      nil
    end

    # Unassign contacts from a list
    # &gt; When you remove contacts from a specific list, they will be deleted permanently, unless they are first saved in another list. 
    # @param delete_contacs_from_list_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_contacts_from_list_with_http_info(delete_contacs_from_list_object, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_contacts_from_list ...'
      end
      # verify the required parameter 'delete_contacs_from_list_object' is set
      if @api_client.config.client_side_validation && delete_contacs_from_list_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_contacs_from_list_object' when calling TextMagicApi.delete_contacts_from_list"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_contacts_from_list"
      end
      # resource path
      local_var_path = '/api/v2/lists/{id}/contacts'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_contacs_from_list_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_contacts_from_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a custom field
    # > When a custom field is deleted, all the information that was added to contacts under this custom field will also be lost. 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_custom_field(id, opts = {})
      delete_custom_field_with_http_info(id, opts)
      nil
    end

    # Delete a custom field
    # &gt; When a custom field is deleted, all the information that was added to contacts under this custom field will also be lost. 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_custom_field_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_custom_field ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_custom_field"
      end
      # resource path
      local_var_path = '/api/v2/customfields/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_custom_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Cancel dedicated number subscription
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_dedicated_number(id, opts = {})
      delete_dedicated_number_with_http_info(id, opts)
      nil
    end

    # Cancel dedicated number subscription
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_dedicated_number_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_dedicated_number ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_dedicated_number"
      end
      # resource path
      local_var_path = '/api/v2/numbers/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_dedicated_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a single inbound message
    # > Note, deleted inbound message will disappear from TextMagic Online, chats, and any other place they are referenced.  So, be careful! 
    # @param id The unique numeric ID for the inbound message.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_inbound_message(id, opts = {})
      delete_inbound_message_with_http_info(id, opts)
      nil
    end

    # Delete a single inbound message
    # &gt; Note, deleted inbound message will disappear from TextMagic Online, chats, and any other place they are referenced.  So, be careful! 
    # @param id The unique numeric ID for the inbound message.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_inbound_message_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_inbound_message ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_inbound_message"
      end
      # resource path
      local_var_path = '/api/v2/replies/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_inbound_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete inbound messages (bulk)
    # > Note, deleted inbound message will disappear from TextMagic Online, chats, and any other place they are referenced.  So, be careful! 
    # @param delete_inbound_messages_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_inbound_messages_bulk(delete_inbound_messages_bulk_input_object, opts = {})
      delete_inbound_messages_bulk_with_http_info(delete_inbound_messages_bulk_input_object, opts)
      nil
    end

    # Delete inbound messages (bulk)
    # &gt; Note, deleted inbound message will disappear from TextMagic Online, chats, and any other place they are referenced.  So, be careful! 
    # @param delete_inbound_messages_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_inbound_messages_bulk_with_http_info(delete_inbound_messages_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_inbound_messages_bulk ...'
      end
      # verify the required parameter 'delete_inbound_messages_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_inbound_messages_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_inbound_messages_bulk_input_object' when calling TextMagicApi.delete_inbound_messages_bulk"
      end
      # resource path
      local_var_path = '/api/v2/replies/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_inbound_messages_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_inbound_messages_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a list
    # This command has no parameters. If successful, this command will return the standard delete response (204 No Content), otherwise a standard error response will be returned.  When you delete a list, the contacts in it are deleted as well unless they were saved in other list.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_list(id, opts = {})
      delete_list_with_http_info(id, opts)
      nil
    end

    # Delete a list
    # This command has no parameters. If successful, this command will return the standard delete response (204 No Content), otherwise a standard error response will be returned.  When you delete a list, the contacts in it are deleted as well unless they were saved in other list.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_list_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_list ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_list"
      end
      # resource path
      local_var_path = '/api/v2/lists/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete an avatar for the list
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_list_avatar(id, opts = {})
      delete_list_avatar_with_http_info(id, opts)
      nil
    end

    # Delete an avatar for the list
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_list_avatar_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_list_avatar ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_list_avatar"
      end
      # resource path
      local_var_path = '/api/v2/lists/{id}/avatar'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_list_avatar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete contacts from list (bulk)
    # 
    # @param delete_list_contacts_bulk_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_list_contacts_bulk(delete_list_contacts_bulk_input_object, id, opts = {})
      delete_list_contacts_bulk_with_http_info(delete_list_contacts_bulk_input_object, id, opts)
      nil
    end

    # Delete contacts from list (bulk)
    # 
    # @param delete_list_contacts_bulk_input_object 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_list_contacts_bulk_with_http_info(delete_list_contacts_bulk_input_object, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_list_contacts_bulk ...'
      end
      # verify the required parameter 'delete_list_contacts_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_list_contacts_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_list_contacts_bulk_input_object' when calling TextMagicApi.delete_list_contacts_bulk"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_list_contacts_bulk"
      end
      # resource path
      local_var_path = '/api/v2/lists/{id}/contacts/delete'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_list_contacts_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_list_contacts_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete lists (bulk)
    # 
    # @param delete_lists_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_lists_bulk(delete_lists_bulk_input_object, opts = {})
      delete_lists_bulk_with_http_info(delete_lists_bulk_input_object, opts)
      nil
    end

    # Delete lists (bulk)
    # 
    # @param delete_lists_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_lists_bulk_with_http_info(delete_lists_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_lists_bulk ...'
      end
      # verify the required parameter 'delete_lists_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_lists_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_lists_bulk_input_object' when calling TextMagicApi.delete_lists_bulk"
      end
      # resource path
      local_var_path = '/api/v2/lists/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_lists_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_lists_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a session
    # Delete a message session, together with all nested messages. > You will not be refunded for any deleted sent sessions. 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_message_session(id, opts = {})
      delete_message_session_with_http_info(id, opts)
      nil
    end

    # Delete a session
    # Delete a message session, together with all nested messages. &gt; You will not be refunded for any deleted sent sessions. 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_message_session_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_message_session ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_message_session"
      end
      # resource path
      local_var_path = '/api/v2/sessions/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_message_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete sessions (bulk)
    # Delete messages sessions, together with all nested messages, by given ID(s) or delete all messages sessions.
    # @param delete_message_sessions_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_message_sessions_bulk(delete_message_sessions_bulk_input_object, opts = {})
      delete_message_sessions_bulk_with_http_info(delete_message_sessions_bulk_input_object, opts)
      nil
    end

    # Delete sessions (bulk)
    # Delete messages sessions, together with all nested messages, by given ID(s) or delete all messages sessions.
    # @param delete_message_sessions_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_message_sessions_bulk_with_http_info(delete_message_sessions_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_message_sessions_bulk ...'
      end
      # verify the required parameter 'delete_message_sessions_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_message_sessions_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_message_sessions_bulk_input_object' when calling TextMagicApi.delete_message_sessions_bulk"
      end
      # resource path
      local_var_path = '/api/v2/sessions/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_message_sessions_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_message_sessions_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete message
    # Delete a single message.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_message(id, opts = {})
      delete_outbound_message_with_http_info(id, opts)
      nil
    end

    # Delete message
    # Delete a single message.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_message_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_outbound_message ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_outbound_message"
      end
      # resource path
      local_var_path = '/api/v2/messages/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_outbound_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete messages (bulk)
    # Delete outbound messages by given ID(s) or delete all outbound messages.
    # @param delete_outbound_messages_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_outbound_messages_bulk(delete_outbound_messages_bulk_input_object, opts = {})
      delete_outbound_messages_bulk_with_http_info(delete_outbound_messages_bulk_input_object, opts)
      nil
    end

    # Delete messages (bulk)
    # Delete outbound messages by given ID(s) or delete all outbound messages.
    # @param delete_outbound_messages_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_outbound_messages_bulk_with_http_info(delete_outbound_messages_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_outbound_messages_bulk ...'
      end
      # verify the required parameter 'delete_outbound_messages_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_outbound_messages_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_outbound_messages_bulk_input_object' when calling TextMagicApi.delete_outbound_messages_bulk"
      end
      # resource path
      local_var_path = '/api/v2/messages/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_outbound_messages_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_outbound_messages_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a single scheduled message
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_scheduled_message(id, opts = {})
      delete_scheduled_message_with_http_info(id, opts)
      nil
    end

    # Delete a single scheduled message
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_scheduled_message_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_scheduled_message ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_scheduled_message"
      end
      # resource path
      local_var_path = '/api/v2/schedules/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_scheduled_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete scheduled messages (bulk)
    # 
    # @param delete_scheduled_messages_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_scheduled_messages_bulk(delete_scheduled_messages_bulk_input_object, opts = {})
      delete_scheduled_messages_bulk_with_http_info(delete_scheduled_messages_bulk_input_object, opts)
      nil
    end

    # Delete scheduled messages (bulk)
    # 
    # @param delete_scheduled_messages_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_scheduled_messages_bulk_with_http_info(delete_scheduled_messages_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_scheduled_messages_bulk ...'
      end
      # verify the required parameter 'delete_scheduled_messages_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_scheduled_messages_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_scheduled_messages_bulk_input_object' when calling TextMagicApi.delete_scheduled_messages_bulk"
      end
      # resource path
      local_var_path = '/api/v2/schedules/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_scheduled_messages_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_scheduled_messages_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Sender ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_sender_id(id, opts = {})
      delete_sender_id_with_http_info(id, opts)
      nil
    end

    # Delete a Sender ID
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_sender_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_sender_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_sender_id"
      end
      # resource path
      local_var_path = '/api/v2/senderids/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_sender_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a template
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_template(id, opts = {})
      delete_template_with_http_info(id, opts)
      nil
    end

    # Delete a template
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TextMagicApi.delete_template"
      end
      # resource path
      local_var_path = '/api/v2/templates/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete templates (bulk)
    # Delete template by given ID(s) or delete all templates.
    # @param delete_templates_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_templates_bulk(delete_templates_bulk_input_object, opts = {})
      delete_templates_bulk_with_http_info(delete_templates_bulk_input_object, opts)
      nil
    end

    # Delete templates (bulk)
    # Delete template by given ID(s) or delete all templates.
    # @param delete_templates_bulk_input_object 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_templates_bulk_with_http_info(delete_templates_bulk_input_object, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.delete_templates_bulk ...'
      end
      # verify the required parameter 'delete_templates_bulk_input_object' is set
      if @api_client.config.client_side_validation && delete_templates_bulk_input_object.nil?
        fail ArgumentError, "Missing the required parameter 'delete_templates_bulk_input_object' when calling TextMagicApi.delete_templates_bulk"
      end
      # resource path
      local_var_path = '/api/v2/templates/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(delete_templates_bulk_input_object)
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#delete_templates_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Carrier Lookup
    # This API call allows you to retrieve additional information about a phone number: region-specific phone number formatting, carrier, phone type (landline/mobile) and country information.  > Numbers can be checked one by one. You cannot check multiple numbers in one request.   
    # @param phone Phone number in [E.164 format](https://en.wikipedia.org/wiki/E.164) or in [National format](https://en.wikipedia.org/wiki/National_conventions_for_writing_telephone_numbers). 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country This option must be specified only if the phone number in a **[National format](https://en.wikipedia.org/wiki/National_conventions_for_writing_telephone_numbers)**. 
    # @return [DoCarrierLookupResponse]
    def do_carrier_lookup(phone, opts = {})
      data, _status_code, _headers = do_carrier_lookup_with_http_info(phone, opts)
      data
    end

    # Carrier Lookup
    # This API call allows you to retrieve additional information about a phone number: region-specific phone number formatting, carrier, phone type (landline/mobile) and country information.  &gt; Numbers can be checked one by one. You cannot check multiple numbers in one request.   
    # @param phone Phone number in [E.164 format](https://en.wikipedia.org/wiki/E.164) or in [National format](https://en.wikipedia.org/wiki/National_conventions_for_writing_telephone_numbers). 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country This option must be specified only if the phone number in a **[National format](https://en.wikipedia.org/wiki/National_conventions_for_writing_telephone_numbers)**. 
    # @return [Array<(DoCarrierLookupResponse, Fixnum, Hash)>] DoCarrierLookupResponse data, response status code and response headers
    def do_carrier_lookup_with_http_info(phone, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.do_carrier_lookup ...'
      end
      # verify the required parameter 'phone' is set
      if @api_client.config.client_side_validation && phone.nil?
        fail ArgumentError, "Missing the required parameter 'phone' when calling TextMagicApi.do_carrier_lookup"
      end
      # resource path
      local_var_path = '/api/v2/lookups/{phone}'.sub('{' + 'phone' + '}', phone.to_s)

      # query parameters
      query_params = {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['BasicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DoCarrierLookupResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TextMagicApi#do_carrier_lookup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Email Lookup
    # To get more details about an email address or to check if it is a valid email, you can use the Email Lookup command. To upload and check emails in bulk, please use our [Web app](https://my.textmagic.com/online/email-lookup/).  This API call allows you to retrieve additional information about an email address, such as mailbox detection, syntax checks, DNS validation, deliverability status, and many more helpful values (see the table below).  > Emails must be checked one by one. You cannot check multiple emails in one request. To upload and check emails in bulk, please use our [Web app](https://my.textmagic.com/online/email-lookup/).
    # @param email Email address.
    # @param [Hash] opts the optional parameters
    # @return [DoEmailLookupResponse]
    def do_email_lookup(email, opts = {})
      data, _status_code, _headers = do_email_lookup_with_http_info(email, opts)
      data
    end

    # Email Lookup
    # To get more details about an email address or to check if it is a valid email, you can use the Email Lookup command. To upload and check emails in bulk, please use our [Web app](https://my.textmagic.com/online/email-lookup/).  This API call allows you to retrieve additional information about an email address, such as mailbox detection, syntax checks, DNS validation, deliverability status, and many more helpful values (see the table below).  &gt; Emails must be checked one by one. You cannot check multiple emails in one request. To upload and check emails in bulk, please use our [Web app](https://my.textmagic.com/online/email-lookup/).
    # @param email Email address.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DoEmailLookupResponse, Fixnum, Hash)>] DoEmailLookupResponse data, response status code and response headers
    def do_email_lookup_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TextMagicApi.do_email_lookup ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling TextMagicApi.do_email_lookup"
      end
      # resource path
[...]
